@import url("https://fonts.googleapis.com/css?family=Inconsolata");

:root {
  --custom-border: 6px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
}

.main-container {
  background-color: whitesmoke;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 100vh;
}

.initial-bg {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  position: relative;
}

/* *card section */
.end,
.front {
  display: flex;
  width: 100%;
}

.front {
  justify-content: start;
}

.end {
  justify-content: end;
}

#front-card,
#back-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 60%;
  height: 8rem;
  margin: 1rem;
  border-radius: var(--custom-border);
}

#back-card {
  align-items: center;
  background-color: #dbdce2;
}

.bar {
  background-color: rgb(23, 23, 23);
  margin-top: 1rem;
  height: 1.5rem;
  width: 100%;
}

.grey-bar {
  display: flex;
  justify-content: end;
  background-color: rgb(158, 158, 158);
  margin-top: 1rem;
  width: 80%;
  border-radius: 2px;
}

#cvc {
  margin-right: 0.5rem;
}

#card-design {
  width: 80%;
  margin-top: 0.5rem;
}

/* *front card */

#front-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
  background: url(./images/bg-card-front.png);
  background-position: center;
}

/* circle logo */

.circle-container {
  display: flex;
  align-items: center;
}

.full-circle,
.empty-circle {
  border-radius: 50%;
  margin: 0.75rem;
}

.full-circle {
  width: 2rem;
  height: 2rem;
  background-color: whitesmoke;
}

.empty-circle {
  width: 1rem;
  height: 1rem;
  border: solid 2px whitesmoke;
  margin-left: 0rem;
}

/* card details */

.card-digit-container {
  display: flex;
  justify-content: center;
  margin: auto 1rem;
  font-size: 1rem;
}

.bottom-details {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-bottom: 0.5rem;
}

/** form section */

label {
  font-size: 1rem;
  color: rgb(72, 72, 72);
  text-transform: uppercase;
}

.form-container,
.label-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.form-container {
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}

.form-container input,
.label-container input {
  width: 75vw;
  height: 2.5rem;
}

.form-container input,
.form-container input::placeholder {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;
}

.card-date-container input,
.card-date-container input::placeholder {
  padding-left: 0.5rem;
}

.label-container:last-of-type > div label {
  font-size: 1rem;
  margin: 0.5rem 1rem;
  /* border: solid 2px hotpink; */
}
.label-container:last-of-type > div label:first-child {
  margin-left: auto;
  /* border: solid 2px hotpink; */
}
.label-container:last-of-type > div label:last-child {
  margin-left: 2.5rem;
  /* border: solid 2px hotpink; */
}

.card-date-container {
  display: flex;
  /* border: solid 2px blue; */
  width: 75vw;

  justify-content: space-between;
  flex-wrap: nowrap;
}

.card-date-container input {
  width: 20%;
}

#code {
  width: 50%;
}

/* button */
button {
  width: 75vw;

  height: 2.5rem;
  background-color: rgb(122, 32, 187);
  color: whitesmoke;
  border-radius: var(--custom-border);
  border: none;
}

button:hover {
  opacity: 0.5;
}

button span {
  font-size: 1.5rem;
  text-transform: capitalize;
}

/* success screen */

.success-container {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}

.success-container h1 {
  text-transform: uppercase;
}

#check-icon {
  background: linear-gradient(
    135deg,
    rgba(63, 94, 251, 1) 25%,
    rgb(213, 70, 252) 100%
  );
  color: whitesmoke;
  width: 2rem;
  height: 2rem;
  padding: 1.25rem;
  border-radius: 50%;
}

/* ! HANDLING ERRORS */
.error {
  opacity: 0.3;
}

.hero-modal-container {
  display: flex;
  justify-content: center;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  opacity: 1;
  width: 90%;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: var(--custom-border);
  -webkit-box-shadow: 0px 0px 0 500px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 0 500px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 0 500px rgba(0, 0, 0, 0.49);
}

.modal-container > div {
  display: flex;
  justify-content: end;
  width: 100%;
}

.modal-text-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container h2 {
  color: red;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

.invalid {
  border: solid 2px red;
}

/* ///////////////////////// */
/* ! MEDIA QUERY XS DEVICE */
/* ///////////////////////// */

@media (max-width: 375px) {
  #front-card,
  #back-card {
    width: 65%;
  }

  .form-container input,
  .form-container input::placeholder {
    font-size: 1rem;
  }
  .card-date-container input,
  .card-date-container input::placeholder {
    padding-left: 0.35rem;
  }
}

/* ///////////////////////// */
/* ! MEDIA QUERY TABLET DEVICE */
/* ///////////////////////// */

@media (min-width: 426px) {
  #front-card,
  #back-card {
    position: relative;
    height: 11rem;
    width: 20rem;
  }

  #front-card {
    top: -4.5rem;
  }
}

/* ///////////////////////// */
/* ! MEDIA QUERY DESKTOP DEVICE */
/* ///////////////////////// */

@media (min-width: 850px) {
  .main-container {
    flex-direction: row;
  }
  /* * LEFT SIDE */
  .initial-bg {
    height: 100vh;
    width: 30%;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
  }

  .front {
    justify-content: end;
  }

  #front-card,
  #back-card {
    position: absolute;
  }

  #front-card {
    left: 2rem;
    top: 10rem;
  }

  #back-card {
    left: 6rem;
    top: 23rem;
  }

  /* * FORM SECTION */
  .form-container {
    width: 70%;
    margin: auto;
  }

  .label-container {
    width: 50%;
    height: 4rem;
    margin: 2rem auto;
  }

  .form-container input,
  .label-container input {
    width: 100%;
  }

  .card-date-container {
    width: 100%;
  }

  .card-date-container input:first-child {
    width: 50%;
    margin: auto 0.5rem 0 0;
  }
  .card-date-container input:nth-child(2) {
    width: 50%;
    margin: auto 0.5rem 0 0;
  }

  #code {
    width: 100%;
  }
  /* * button */
  button {
    width: 50%;
  }

  /* * SUCCESS SCREEN */
  .success-container {
    margin: auto;
  }

  #check-icon {
    width: 6rem;
    height: 6rem;
  }

  .success-container h1 {
    margin: 3rem;
    font-size: 3rem;
  }

  .success-container p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  /* * ERROR MODAL  */

  .modal-container {
    width: 60%;
    height: 50vh;
    margin-top: 12rem;
  }

  .modal-container h2 {
    padding: 0;
    margin: auto;
    font-size: 4rem;
  }

  #x-button {
    width: 2rem;
    height: 2rem;
  }
}

/* ///////////////////////// */
/* ! MEDIA QUERY XL DESKTOP DEVICE */
/* ///////////////////////// */

@media (min-width: 1400px) {
  #front-card {
    left: 10rem;
    top: 10rem;
  }

  #back-card {
    left: 14rem;
    top: 23rem;
  }
}
