*,
*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  width: 100%;
  background: rgb(63,94,251);
background: linear-gradient(135deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.initial-bg {
  width: 100%;
  height: 30vh;
  position: relative;

}

#back-card {
  margin: 2rem 3rem 4rem 3rem;
}

#front-card {
  position: absolute;
}